@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  background: url(contact_body7.jpg);
  background-size: cover;
}

nav {
  background: black;
}

.navbar {
  height: 70px;
}

.tags {
  position: absolute;
  left: 20vw;
}
.tags a {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.navbar-toggler {
  position: absolute;
  right: 2vw;
}

.collapse {
  padding-top: 0px;
  border-top: lightslategrey solid 2px;
}

.collapsed_content {
  padding-top: 0px;
  background-color: black;
  color: white;
}

.nav-item {
  padding: 10px;
}

#hiddennav {
  visibility: hidden;
  height: 0vh;
  padding: 0px;
}

.navbar-nav .nav-link {
  border-radius: 0.35rem;
  padding-left: 10px;
  text-decoration: none;
  color: white;
}

.container {
  top: 0;
  position: fixed;
  margin-top: 37vh;
}

.container #menu1, .container #menu2, .container #menu3 {
  position: fixed;
  color: #000000;
  left: 5vw;
  font-size: xx-large;
  cursor: pointer;
}
.container #main1:hover, .container #menu2:hover, .container #menu3:hover {
  color: #f1f1f1;
}

.mainsidenav {
  height: 75vh;
  width: 50vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 35vw;
  background-color: black;
  overflow-x: hidden;
  padding-top: 5vh;
  transition: 0.5s;
  margin-top: 15vh;
  border-radius: 0.35rem;
}

#sidenavshifter {
  visibility: hidden;
}

.sidenav {
  height: 75vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 35vw;
  background-color: black;
  overflow-x: hidden;
  padding-top: 5vh;
  transition: 0.5s;
  margin-top: 15vh;
  border-radius: 0.35rem;
}

/* The navigation menu links */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

.formtitle {
  margin-left: 5vw;
  color: white;
  font-size: large;
}

.form-control {
  margin-left: 5vw;
  width: 75%;
  margin-bottom: 4vh;
}

#mySidenav3 .desc, #mySidenav1 .desc {
  height: 24vh;
}

.send {
  margin-left: 5vw;
  width: 20%;
  height: 5vh;
  border-radius: 0.35rem;
  background-color: blue;
  color: wheat;
  font-size: bold;
}

@media screen and (max-width: 1034px) {
  .tags {
    position: absolute;
    left: 25%;
  }
  .container .mainsidenav, .container .sidenav {
    left: 50vw;
  }
}
@media screen and (max-width: 900px) {
  .tags {
    position: absolute;
    left: 35%;
  }
  #sidenavshifter {
    visibility: visible;
    color: black;
    left: 5vw;
    font-size: xx-large;
    cursor: pointer;
    font-weight: bolder;
  }
  .container #menu1, .container #menu2, .container #menu3 {
    visibility: hidden;
  }
  .container {
    position: relative;
    margin-top: 5vh;
    display: block;
  }
  .container .mainsidenav {
    width: 100%;
  }
  .container .mainsidenav, .container .sidenav {
    position: absolute;
    left: 0vw;
  }
}
@media screen and (max-width: 540px) {
  .tags {
    visibility: hidden;
  }
  #hiddennav {
    visibility: visible;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
  }
}/*# sourceMappingURL=Contact.css.map */