{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Structures</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" href="Stack.css"> -->
    <link rel="stylesheet" href="{% static 'Algomination/DsHome.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'Algomination/Stack.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'Algomination/custom.css' %}"> -->
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <style type="text/css">
    </style>
</head>
<body>

    <!-- Navbar -->

    <nav class="sticky-top navbar navbar-dark">
        <a href="../" class="brand-name" style="color: white; margin-top: 2vh; text-decoration: none; width: 10vw;"><strong><h4 style="font-family: 'Sedgwick Ave Display', cursive; font-size: xx-large;">Algomination</h4></strong></a>
        <div class="tags">
            <a href="../About" style="font-weight: bolder;">About</a>
            <a href="../Contact" style="font-weight: bolder;">Contact Us</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="pos-f-t">
        <div class="sticky-top collapse" id="navbarToggleExternalContent">
            <div class="p-4 collapsed_content">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../" >Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../SearchHome" >Search</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../SortHome">Sorting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"  style="background: brown;">Data Structures<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Login" >SignUp/Login</a>
                    </li>
                    <li class="nav-item" id="hiddennav">
                        <a class="nav-link" href="../About/" >About</a>
                    </li>
                    <li class="nav-item" id="hiddennav">
                        <a class="nav-link" href="../Contact/" >Contact Us</a>
                    </li>
                </ul>
            </div>    
        </div>
    </div>

    <section class = "home">
       <!--  <section class = "home_carousel">
            <div class="owl-carousel owl-theme outer" style=" background-color:#fff; ">
                <div class="item">
                    <img class = "car_img" src="\Users\RAHUL SONI\Desktop\bubble1.png">
                </div>
                <div class="item">
                    <img class = "car_img" src="\Users\RAHUL SONI\Desktop\select.png">
                </div>
                <div class="item">
                    <img class = "car_img" src="\Users\RAHUL SONI\Desktop\bubble1.png">
                </div>
            </div>
        </section> -->

        <section class = "ds_head" id ="ds_main">
            <div class="card card_style" style="width: 6rem;">
                <div class="card-body text_car">
                    <h5 class="card-title">DATA STRUCTURES</h5>
                    <p class="card-text" style="font-style: italic;">
                        A computer program is a collection of instructions to perform a specific task. For this, a computer program may need to store data, retrieve data, and perform computations on the data.
                        <h6>
                            data structure is a data organization, management, and storage format that enables efficient access and modification.More precisely, a data structure is a collection of data values, the relationships among them, and the functions or operations that can be applied to the data.
                        </h6>
                        <h6>
                            A data structure is a named location that can be used to store and organize data. And, an algorithm is a collection of steps to solve a particular problem. Learning data structures and algorithms allow us to write efficient and optimized computer programs.
                        </h6>
                        <h6>
                           Data structures are generally based on the ability of a computer to fetch and store data at any place in its memory, specified by a pointer—a bit string, representing a memory address, that can be itself stored in memory and manipulated by the program. Thus, the array and record data structures are based on computing the addresses of data items with arithmetic operations, while the linked data structures are based on storing addresses of data items within the structure itself.
                        </h6>
                        <h6>
                           The implementation of a data structure usually requires writing a set of procedures that create and manipulate instances of that structure. The efficiency of a data structure cannot be analyzed separately from those operations. This observation motivates the theoretical concept of an abstract data type, a data structure that is defined indirectly by the operations that may be performed on it, and the mathematical properties of those operations (including their space and time cost).
                        </h6>
                        <h6>
                          List: 
                        </h6>
                        <h6>
                          Linear Data Structures: 
                        </h6>
                        <li>Arrays</li>
                        <li>Lists</li>
                        <li>Trees</li>
                         <h6>
                          Hash based Data Structures: 
                        </h6>
                        <li>Graphs</li>
                    </p>
                </div>
            </div>
        </section>

        <section class = "ds_head" id = "stack_ds_head">
            <div class="card card_style" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">STACK</h5>
                    <p class="card-text">Stack is an abstract data type with a bounded(predefined) capacity. It is a simple data structure that allows adding and removing elements in a particular order. Every time an element is added, it goes on the top of the stack and the only element that can be removed is the element that is at the top of the stack, just like a pile of objects.
                        <br>
                        <h6>PSEUDO CODE</h6>
                        <h6>PUSH</h6>                        
                        <h8 style= "margin-left: 1vw;">begin procedure push: stack, data</h8><br>
                        <h8 style= "margin-left: 2vw;">if stack is full</h8><br>
                        <h8 style= "margin-left: 3vw;">return null</h8><br>
                        <h8 style= "margin-left: 2vw;">endif</h8><br><br>
                        <h8 style= "margin-left: 2vw;">top ← top + 1</h8><br>
                        <h8 style= "margin-left: 2vw;">stack[top] ← data</h8><br>
                        <h8 style= "margin-left: 1vw;">end procedure</h8><br>
                        <br>
                        <h6>POP</h6>                        
                        <h8 style= "margin-left: 1vw;">begin procedure pop: stack</h8><br>
                        <h8 style= "margin-left: 2vw;">if stack is empty</h8><br>
                        <h8 style= "margin-left: 3vw;">return null</h8><br>
                        <h8 style= "margin-left: 2vw;">end if</h8><br><br>
                        <h8 style= "margin-left: 2vw;">data ← stack[top]</h8><br>
                        <h8 style= "margin-left: 2vw;">top ← top - 1<h8><br>
                        <h8 style= "margin-left: 2vw;">return data<procedure/h8><br>
                        <h8 style= "margin-left: 1vw;">end procedure</h8><br>
                        <br>
                        <h6>PEEK</h6>                        
                        <h8 style= "margin-left: 1vw;">begin procedure peek</h8><br>
                        <h8 style= "margin-left: 2vw;">return stack[top]</h8><br>
                        <h8 style= "margin-left: 1vw;">end procedure</h8><br>
                        <!-- <h6>Bubble Sort does roughly N^2 / 2 comparisons and does up to N^2 / 2 swaps.</h6> -->
                    </p>
                    <a href="../Stack" class="btn btn-primary go-button">Animation</a>
                </div>
            </div>
        </section>
    </section>  
        
     <!-- Footer -->
    <footer class="page-footer font-small indigo">

      <!-- Footer Links -->
        <div class="container">

            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center pt-5 mb-3 ">

              <!-- Grid column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                      Quick Move -->
                    </h6>
                </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                      <a href="#stack_ds_head">STACK</a>
                    </h6>
                </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                      <a href="#ds_main">DATA STRUCTURES</a>
                    </h6>
                </div>
                  <!-- Grid column -->
            </div>
            <!-- Grid row-->
            <hr class="rgba-white-light" style="margin: -28px 15%;">

            <!-- Grid row-->
            <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

              <!-- Grid column -->
                <div class="col-md-8 col-12 mt-5">
                    <p style="line-height: 1.7rem">“Sorting something that you will never search is a complete waste; searching something you never sorted is merely inefficient.”
                    </p>
                </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row-->
            <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

            <!-- Grid row-->
            <div class="row pb-3">

              <!-- Grid column -->
                <div class="col-md-12">

                    <div class="mb-5 social-icons">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fa fa-facebook-f fa-lg mr-4"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fa fa-twitter fa-lg mr-4"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fa fa-google-plus fa-lg mr-4"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fa fa-linkedin fa-lg mr-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fa fa-instagram fa-lg mr-4"> </i>
                        </a>

                    </div>

                </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
      <!-- Footer Links -->
    </footer>
    <!-- Footer -->
    <!-- External Link -->

    

    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.0/lib/anime.min.js"></script>
    <!-- <script src="{% static 'Algomination/stack_animationbox.js' %}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
    <script src="{% static 'Algomination/DsHome.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>