{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stack</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="Stack.css"> -->
    <link rel="stylesheet" href="{% static 'Algomination/Stack.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'Algomination/custom.css' %}"> -->
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Navbar -->

    <nav class="sticky-top navbar navbar-dark">
        <a href="../" class="brand-name" style="color: white; font-size: large; text-decoration: none; font-family: 'Sedgwick Ave Display', cursive;"><strong><h4>Algomination</h4></strong></a>
        <div class="tags">
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="pos-f-t">
        <div class="sticky-top collapse" id="navbarToggleExternalContent">
          <div class="p-4 collapsed_content">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../" >Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../search/">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" >Sorting</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="background: brown;">Data Structures<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Login/" >SignUp/Login</a>
                </li>
              </ul>
          </div>
    </div>

    <section class="foralignment">

        <!-- Content Box -->

        <section class="content">
            <div class="info">
                <div class="infobox">
                    <h4 class="heading">BUBBLE SORT</h4>
                    <p style="text-align: left">Linear search is the simplest search algorithm and often called sequential search. In this type of searching, we simply traverse the list completely and match each element of the list with the item whose location is to be found. </p>
                    <p ><h6 style="text-align: left">Algorithm</h6></p>
                    <p style="text-align: left">
                        <li style="text-align: left; font-size: small">Start from the leftmost element of arr[] and one by one compare x with each element of arr[]</li>
                        <li style="text-align: left; font-size: small">If x matches with an element, return the index.</li>
                    </p>
                </div>
            </div>

            <div class="inputs">
                <div class="left_info">
                    <div class="left_infobox">
                        <div class="info_ele">
                            <div class="info_ele_title">
                                Worst Case Time Complexity
                            </div>
                            <div class="info_ele_data">
                                O(n^2)
                            </div>
                        </div>
                        <div class="info_ele">
                            <div class="info_ele_title">
                                Space Complexity
                            </div>
                            <div class="info_ele_data">
                                O(1)
                            </div>
                        </div>
                        <div class="info_ele">
                            <div class="info_ele_title">
                                Stability
                            </div>
                            <div class="info_ele_data">
                                Stable
                            </div>
                        </div>
                    </div>
                </div>

                <form action="/Algomination/Stack/" method="post">  {% csrf_token %}
                    <div class="block">
                        <div class="blockforalign block1">
                            <div class="eleinp array_input input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Enter the element to be pushed</span>
                                </div>
                                <input type="text" name = 'elements' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id = "input_text">
                            </div>
                            <div class="run_button">
                                <button type="submit" name = 'push' value = "true" class="submit-button btn btn-success">PUSH</button>
                            </div>
                        </div>
                        <div class="blockforalign block2">
                            <div class="run_button">
                                <button type="submit" name = 'pop' class="submit-button btn btn-success">POP</button>
                            </div>
                            <div class="run_button littleshift">
                                <button type="submit" name = 'peek' class="submit-button btn btn-success">PEEK</button>
                            </div>
                        </div>
                        <!-- <div class="blockforalign block3">
                            <div class="run_button">
                                <button type="submit" class="submit-button btn btn-success">Sort</button>
                            </div>
                            <div class="printele">

                            </div>
                        </div> -->
                    </div>
                </form>

                <!-- {% if truth == 'F'%}
                    <div class="invalid-inputs alert alert-danger">
                        <strong>Invalid Inputs!</strong>Enter Valid inputs...
                    </div>
                {% endif %} -->
            </div>
            {% if truth == 'F'%}
                    <div class="invalid-inputs alert alert-danger">
                        <strong>Invalid Inputs!</strong>Enter Valid inputs...
                    </div>
            {% endif %}
        </section>

        <!-- Animation Box -->

        <section id="animation_box_main" class="animation">
            <div id="Stack" class="animation_box">
                <div class="left_ani">
                    {% if truth == 'T'%}
                        {% if operation == 'push' %}
                            <span id ="card0" class = "fill-blue card">
                                <p id="answer" style="margin: auto;">{{elements}}</p>
                            </span>
                        {% endif %}    
                    {% endif %}
                    <div class="bottom_info">
                        <div class="infor">
                            <div class="infor_title">
                                Maximum Storage
                            </div>
                            <div class="infor_ele">
                                10
                            </div>
                        </div>
                        <div class="infor">
                            <div class="infor_title">
                                Storage Left
                            </div>
                            <div id="storage_left" class="infor_ele">
                                10
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stack_ani" id = 'stackani'>
                    {% if truth == 'T'%}
                        {% if operation == 'push' %}
                            <div id = "pushani" ></div>
                        {% elif operation == 'pop' %}
                            <div id = "popani" ></div>
                        {% elif operation == 'peek' %}
                            <div id = "peekani" ></div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="directions">
                <p id = "directions" style="font-weight: bold; margin: auto;">Something</p>
            </div>
        </section>
    </section>

    <!-- External Link -->

    <div class="external_link"><a href="https://en.wikipedia.org/wiki/Insertion_sort">Insertion Sort</a></div>

    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.0/lib/anime.min.js"></script>
    <script src="{% static 'Algomination/stack_animationbox.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>