@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

body 
{
    background: #162c3b;
    overflow-x: hidden;
}

nav
{
    background: black;
}

.navbar 
{
    height: 70px;
}

.tags
{
    right: 30%;
    a 
    {
        padding: 10px;
        padding-right: 40px;
        text-decoration: none;
        color: white;
    }
}

.collapse 
{
    padding-top: 0px;
    border-top: lightslategrey solid 2px;
}

.collapsed_content
{
    padding-top: 0px;
    background-color: black;
    color: white;
}

.nav-item
{
    padding: 10px;
}

.navbar-nav .nav-link
{
    border-radius: 0.35rem;
    padding-left: 10px;
    text-decoration: none;
    color: white;
}

// Main Content

.container
{
    top: 0;
    position: fixed;
    //margin-left: 5vw;
    margin-top: 37vh;
}


//     #menu1, #menu2, #menu3
// {
//     position: fixed;
//     color: #818181;
//     left: 5vw;
//     font-size: xx-large;
// }

.container 
{
    #menu1, #menu2, #menu3
    {
        position: fixed;
        color: #818181;
        left: 5vw;
        font-size: xx-large;
    }

    #main1:hover, #menu2:hover, #menu3:hover
    {
        color: #f1f1f1;
    }
}

.mainsidenav
{
    //height: 100%; 
    height: 75vh;
    width: 50vw; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    //left: 0;
    //right: 10vw;
    left: 35vw;
    //background-color: #111; 
    background-color: black;
    overflow-x: hidden; 
    //padding-top: 60px; 
    padding-top: 5vh;
    transition: 0.5s; 
    margin-top: 15vh;
    border-radius: 0.35rem;
}

.sidenav 
{
    //height: 100%; 
    height: 75vh;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    //left: 0;
    //right: 10vw;
    left: 35vw;
    //background-color: #111; 
    background-color: black;
    overflow-x: hidden; 
    //padding-top: 60px;
    padding-top: 5vh;
    transition: 0.5s;
    margin-top: 15vh;
    border-radius: 0.35rem;
}

/* The navigation menu links */
// .sidenav a 
// {
//     padding: 8px 8px 8px 32px;
//     text-decoration: none;
//     font-size: 25px;
//     color: #818181;
//     display: block;
//     transition: 0.3s;
// }

// .sidenav a:hover 
// {
//     color: #f1f1f1;
// }

// .sidenav .closebtn 
// {
//     position: absolute;
//     top: 0;
//     right: 25px;
//     font-size: 36px;
//     margin-left: 50px;
// }

#main 
{
    transition: margin-left .5s;
    padding: 20px;
}

.formtitle
{
    margin-left: 5vw;
    color: white;
    font-size: large;
}

.form-control
{
    margin-left: 5vw;
    width: 75%;
    margin-bottom: 4vh;
}

#mySidenav3 .desc, #mySidenav1 .desc
{
    height: 24vh;
}

.send 
{
    margin-left: 5vw;
    width: 20%;
    height: 5vh;
    border-radius: 0.35rem;
    background-color: blue;
    color: wheat;
    font-size: bold;
}

@media screen and (max-height: 450px) 
{
    // .sidenav {padding-top: 15px;}
    // .sidenav a {font-size: 18px;}
}