@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

body {
  background: black;
  overflow-x: hidden;
}

nav {
  background: black;
}

.navbar {
  height: 70px;
}

.tags {
  /* right: 30%; */
  right: 30vw;
}

.tags a {
  /* padding: 10px;
  padding-right: 40px;
  text-decoration: none;
  color: white; */
  padding: 10px;
  text-decoration: none;
  color: white;
}

.collapse {
  padding-top: 0px;
  border-top: lightslategrey solid 2px;
}

.collapsed_content {
  padding-top: 0px;
  background-color: black;
  color: white;
}

.nav-item {
  padding: 10px;
}

.navbar-nav .nav-link {
  border-radius: 0.35rem;
  padding-left: 10px;
  text-decoration: none;
  color: white;
}

.home_carousel{
  margin: auto;
  width: 80%;
  /*border: 3px solid green;*/
  padding: 10px;
  margin-top: 3vh;
}


/*.outer{
    height: 51vh;
}*/

.home_carousel .item .car_img{
    height:50vh;
}

.home_carousel .owl-nav{
	display: block;
    position: absolute;
    top: 20%;
    width: 100%;
}
.home_carousel button.owl-prev{
    font-size: 100px !important;
    position: absolute;
    left: 10px;
}
.home_carousel button.owl-next{
	font-size: 100px !important;
    position: absolute;
    right: 10px;	
}


.card_style{
    margin: auto;
    margin-top: 4vh;
    width: 78vw !important;
    /*background-color: black;*/
    color: white;
    background: url(back1.jpg);
    background-size: cover;
}

.card-title{
	color: yellow;
}

.go-button{
	background-color: yellow;
	color: black;
}
/*.text_car{
	font-style: italic;
}*/

/*footer {
  display: block;
  margin-top:2vh;
  text-align:center;
}*/

.container .letter{
	color: yellow;
}

html {
  scroll-behavior: smooth;
}

footer{
	background-color:#000;
	color: #fff;
	margin-top: 2vh;
}
footer .social-icons{
	text-align: center;
}