{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" href="Stack.css"> -->
    <!-- <link rel="stylesheet" href="home1.css"> -->
    <link rel="stylesheet" href="{% static 'Algomination/SearchHome.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'Algomination/custom.css' %}"> -->
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'Algomination/profile.jpg' %}" type="image/gif">

    <style type="text/css">
    </style>
</head>
<body>

    <!-- Navbar -->

    <nav class="sticky-top navbar navbar-dark">
        <a href="../" class="brand-name" style="color: white; font-size: large; text-decoration: none; font-family: 'Sedgwick Ave Display', cursive;"><strong><h4>Algomination</h4></strong></a>
        <div class="tags">
            <a href="#">About</a>
            <a href="#">Contact Us</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="pos-f-t">
        <div class="sticky-top collapse" id="navbarToggleExternalContent">
            <div class="p-4 collapsed_content">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../" >Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"  style="background: brown;">Search<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../SortHome">Sorting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../DsHome" >Data Structures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Login" >SignUp/Login</a>
                    </li>
                </ul>
            </div>    
        </div>
    </div>

    <section class = "home">
        <!-- <section class = "home_carousel">
            <div class="owl-carousel owl-theme outer" style=" background-color:#fff; ">
                <div class="item">
                    <img class = "car_img" src="\Users\RAHUL SONI\Desktop\bubble1.png">
                </div>
                <div class="item">
                    <img class = "car_img" src="\Users\RAHUL SONI\Desktop\select.png">
                </div>
                <div class="item">
                    <img class = "car_img" src="\Users\RAHUL SONI\Desktop\bubble1.png">
                </div>
            </div>
        </section> -->

        <section class = "searching_head" id ="search_main">
            <div class="card card_style" style="width: 6rem;">
                <div class="card-body text_car">
                    <h5 class="card-title">SEARCH</h5>
                    <p class="card-text" style="font-style: italic;">Search algorithms form an important part of many programs. Some searches involve looking for an entry in a database, such as looking up your record in the IRS database. Other search algorithms trawl through a virtual space, such as those hunting for the best chess moves. Although programmers can choose from numerous search types, they select the algorithm that best matches the size and structure of the database to provide a user-friendly experience.
                    <br>
                    <h6>The general searching problem can be described as follows: Locate an element x in a list of distinct elements a1,a2,...an or determine that it is not in the list. The solution to this search problem is the location of the term in the list that equals x and is 0 if x is not in the list.</h6>
                    <br>
                    <h7>The main purpose of searching algorithms is to check an element or retrieve it from any data structure. These searching algorithms are classified into two different parts generally based on the type of searching.</h7>
                    <li>Sequential search: List or array is traversed sequentially and every element is checked.  
                    <br>
                    eg: Linear Search</li>    
                    <li> Interval search: Designed for sorted data structures and more efficient than sequential search algorithms as these are repeatedly target the center of the data structure and divide the search space in half.
                    <br>
                    eg: Binary Search</li> 
                    <br>
                    <h7>All search algorithms make use of a search key in order to complete the procedure. And they are expected to return a success or a failure status ( in boolean true or false value).</h7>  
                    <br>
                    <!-- <br> -->
                    <!-- <h7>A new sort key can be created from two or more sort keys by lexicographical order. The first is then called the primary sort key, the second the secondary sort key, etc. For example, addresses could be sorted using the city as primary sort key, and the street as secondary sort key.</h7>  
                    <br> -->
                    <br>
                    <h4>Common searching algorithms</h4>
                    <br>
                    <li>Liner Search</li>    
                    <li>Binary Search</li> 
                    </p>
                </div>
            </div>
        </section>

        <section class = "searching_head" id = "linear_searching_head">
            <div class="card card_style" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">LINEAR SEARCH</h5>
                    <p class="card-text">Linear search is the simplest searching algorithm that searches for an element in a list in sequential order. We start at one end and check every element until the desired element is not found.
                        <br>
                        <h6>PSEUDO CODE</h6>
                        <h8 style= "margin-left: 1vw;">LinearSearch(array, key)</h8><br>
                        <h8 style= "margin-left: 2vw;">for each item in the array</h8><br>
                        <h8 style= "margin-left: 3vw;">if item == value</h8><br>
                        <h8 style= "margin-left: 4vw;">return its index</h8><br>
                        <h8 style= "margin-left: 3vw;">End-if</h8><br>
                        <h8 style= "margin-left: 2vw;">End-For</h8><br>
                        <br>
                        <br>
                        <h6>Linear Search does N comparisons to find out the key element</h6>
                    </p>
                    <a href="#" class="btn btn-primary go-button">Go somewhere</a>
                </div>
            </div>
        </section>

        <section class = "searching_head" id = "binary_searching_head">
            <div class="card card_style" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">BINARY SEARCH</h5>
                    <p class="card-text">In computer science, binary search, also known as half-interval search,[1] logarithmic search,[2] or binary chop,[3] is a search algorithm that finds the position of a target value within a sorted array.[4][5] Binary search compares the target value to the middle element of the array. If they are not equal, the half in which the target cannot lie is eliminated and the search continues on the remaining half, again taking the middle element to compare to the target value, and repeating this until the target value is found. If the search ends with the remaining half being empty, the target is not in the array.
                        <br>
                        <h6>PSEUDO CODE</h6>
                        <h8 style= "margin-left: 1vw;">while low != high</h8><br>
                        <h8 style= "margin-left: 2vw;">mid = (low + high)/2</h8><br>
                        <h8 style= "margin-left: 2vw;">if (x == arr[mid])</h8><br>
                        <h8 style= "margin-left: 3vw;">return mid</h8><br>
                        <h8 style= "margin-left: 2vw;">else if (x > A[mid])</h8><br>
                        <h8 style= "margin-left: 3vw;">low = mid + 1</h8><br>
                        <h8 style= "margin-left: 2vw;">else</h8><br>
                        <h8 style= "margin-left: 3vw;">high = mid - 1</h8><br>
                        <h8 style= "margin-left: 2vw;">End-if</h8><br>
                        <h8 style= "margin-left: 1vw;">Enf-while</h8><br>
                        <br>
                        <br>
                        <h6>Binary Search does roughly log2(N) comparisons<h6>
                    </p>
                    <a href="#" class="btn btn-primary go-button">Go somewhere</a>
                </div>
            </div>
        </section>
    </section>  
        
     <!-- Footer -->
    <footer class="page-footer font-small indigo">

      <!-- Footer Links -->
        <div class="container">

            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center pt-5 mb-3 ">

              <!-- Grid column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                      <a href="#">Quick Move --></a>
                    </h6>
                </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                      <a href="#linear_searching_head">LINEAR SEARCH</a>
                    </h6>
                </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                      <a href="#binary_searching_head">BINARY SEARCH</a>
                    </h6>
                </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                      <a href="#search_main">SEARCH</a>
                    </h6>
                </div>
                  <!-- Grid column -->
            </div>
            <!-- Grid row-->
            <hr class="rgba-white-light" style="margin: -28px 15%;">

            <!-- Grid row-->
            <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

              <!-- Grid column -->
                <div class="col-md-8 col-12 mt-5">
                    <p style="line-height: 1.7rem">“Sorting something that you will never search is a complete waste; searching something you never sorted is merely inefficient.”
                    </p>
                </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row-->
            <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

            <!-- Grid row-->
            <div class="row pb-3">

              <!-- Grid column -->
                <div class="col-md-12">

                    <div class="mb-5 social-icons">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fa fa-facebook-f fa-lg mr-4"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fa fa-twitter fa-lg mr-4"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fa fa-google-plus fa-lg mr-4"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fa fa-linkedin fa-lg mr-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fa fa-instagram fa-lg mr-4"> </i>
                        </a>

                    </div>

                </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
      <!-- Footer Links -->
    </footer>
    <!-- Footer -->
    <!-- External Link -->

    

    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.0/lib/anime.min.js"></script>
    <!-- <script src="{% static 'Algomination/stack_animationbox.js' %}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
    <script src="{% static 'Algomination/SearchHome.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>